<div>
    <div class="containerInfo" ng-controller="cancelarCtrl">

        <div class="infoTour">

            <form role="form" id="form_Tour" name="form_Tour" ng-controller="reservarCtrl" ng-init="vm.start()">
                <h2 align="center">Cancelar Monto</h2>

                <div class="form-group">
                    <label for="idReservacion">ID Reservacion</label>
                    <input class="form-control" type="number" id="idReservacion" name="idReservacion" ng-model="vm.idReservacion" required>
                    <span ng-show="form_Tour.idReservacion.$touched && form_Tour.idReservacion.$invalid" >Ingresar id de reservacion</span>
                </div>

                <div class="column" id="columnaPic"></div>


                <input type="file" id="files" name="files[]" />
                <br />

            </form>

            <div class="row grupoBotones">
                <div class="col-sm-offset-1 col-sm-10" align="center">
                    <a type="button" class="btn btn-default btn_acept" ng-click="vm.pagarReservacion()">Enviar</a>

                </div>
            </div>
        </div>
    </div>
</div>


    <div class="containerInfo" ng-controller="cancelarCtrl">

        <div class="infoTour">

            <form role="form" id="form_Tour" name="form_TourC" ng-controller="reservarCtrl" ng-init="vm.start()">
                <h2 align="center">Cancelar Reservacion</h2>

                <div class="form-group">
                    <label for="idReservacion">ID Reservacion que desea cancelar</label>
                    <input class="form-control" type="number" id="idReservacion"  name="idReservacion" ng-model="vm.idReservacionCancelar" required>
                    <span ng-show="form_TourC.idReservacion.$touched && form_TourC.idReservacion.$invalid" >Ingresar id de reservacion</span>
                </div>

            </form>

            <div class="row grupoBotones">
                <div class="col-sm-offset-1 col-sm-10" align="center">
                    <a type="button" class="btn btn-default btn_acept" data-toggle="modal" data-target="#myModal" ng-click="vm.cancelarReservacion()">Enviar</a>

                </div>
            </div>
        </div>
    </div>

    <div class="row grupoBotones">
            <div class="col-sm-offset-1 col-sm-10" align="right">
                <a type="button" class="btn btn-default btn_cancel" ng-href="#!/reservar">Atras</a>

            </div>
        </div>

<div class="row">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Reservacion Cancelada</h4>
                </div>
                <div class="modal-body">
                    <p> Se ha cancelado su reservacion</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>