<form role="form" id="form_Tour" ng-init="vm.start()">
    <h2 align="center">Informacion de Excursion</h2>

    <div class="form-group">
        <label for="nombreCliente">Nombre</label>
        <input class="form-control" type="tel" id="nombreCliente">
    </div>

    <div class="form-group">
        <label for="example-tel-input" class="col-2 col-form-label">Telefono</label>
        <div class="col-10">
            <input class="form-control" type="tel" value="1-(555)-555-5555" id="example-tel-input">
        </div>
    </div>

    <div class="form-group">
        <label for="emailCliente">Email</label>
        <input class="form-control" type="email" id="emailCliente">
    </div>
    <div class="form-group">
        <label for="selectSitio">Excursion</label>
        <select class="form-control" id="selectSitio" ng-model="selectSitio" ng-options="x for x in vm.lugares"></select>
    </div>

</form>

<div class="row grupoBotones">
    <div class="col-sm-offset-1 col-sm-10" align="center">
        <a type="button" class="btn btn-default btn_back" ng-show="vm.edit">Atras</a>
        <a ng-click="vm.acceptUpdate()" type="button" class="btn btn-default btn_acept">Aceptar</a>

    </div>
</div>