<form role="form" id="form_Sitios" ng-init="vm.start()">
    <h2 align="center">Informacion de Sitio Turistico</h2>

    <div class="form-group">
        <label for="idNombre">Nombre</label>
        <input type="text" class="form-control" id="idNombre" ng-disabled="true" ng-model="vm.sitio.nombreDestino">
    </div>

    <div class="form-group">
        <label for="idDireccion">Dirrecion del lugar</label>
        <input type="text" class="form-control" id="idDireccion" ng-disabled="vm.edit" ng-model="vm.sitio.lugar">

    </div>
    <div class="form-group">
        <label for="selectCategoria">Categoria</label>
        <input type="text" class="form-control" ng-model="vm.sitio.categoria" ng-disabled="vm.edit" ng-show="vm.edit">
        <select class="form-control" id="selectCategoria" ng-model="vm.selectCategoria" ng-options="x.categoria for x in vm.getCategoria" ng-show="!vm.edit"></select>
    </div>
    <div class="form-group">
        <label for="comment">Descripcion:</label>
        <textarea class="form-control" rows="5" id="comment" ng-model="vm.sitio.descripcion" ng-disabled="vm.edit"></textarea>
    </div>
</form>

<div class="row grupoBotones">
    <div class="col-sm-offset-1 col-sm-10" align="center">
        <a type="button" ng-href="#!/listaSitios" class="btn btn-default btn_back" ng-show="vm.edit">Atras</a>
        <a ng-click="vm.updateSitiosForm()" type="button" class="btn btn-default btn_upd" ng-show="vm.edit">Modificar Datos</a>
        <a ng-click="vm.cancelUpdate()" type="button" class="btn btn-default btn_cancel" ng-show="vm.btnAcceptCancel">Cancelar</a>
        <a ng-click="vm.acceptUpdate()" type="button" class="btn btn-default btn_acept" ng-show="vm.btnAcceptCancel">Aceptar</a>

    </div>
</div>