<form role="form" id="form_Tour" ng-init="vm.start()">
    <h2 align="center">Informacion de Excursion</h2>

    <h1 align="left">Informacion del Sitio Turistico</h1>

    <div class="form-group">
        <label for="idNombre">Nombre</label>
        <input type="text" class="form-control" id="idNombre" ng-disabled="true" ng-model="vm.tour.NombreExcursion">
    </div>

    <div class="form-group">
        <label for="idDireccion">Direccion del lugar</label>
        <input type="text" class="form-control" id="idDireccion" ng-disabled="vm.edit" ng-show="vm.edit" ng-model="vm.tour.nombreDestino">
        <select class="form-control" id="selectDestino" ng-model="vm.selectDestino" ng-show="!vm.edit" ng-options="x.nombreDestino for x in vm.getDestino"></select>

    </div>
    <div class="form-group">
        <label for="selectGuia">Guia Turistica</label>
        <input type="text" class="form-control" ng-model="vm.tour.guia" ng-disabled="vm.edit" ng-show="vm.edit">
        <select class="form-control" id="selectGuia" ng-model="vm.selectGuia" ng-options="x.nombre for x in vm.getGuia" ng-show="!vm.edit"></select>
    </div>
    <div class="form-group">
        <label for="example-tel-input" class="col-2 col-form-label">Contacto(Guia)</label>
        <div class="col-10">
            <input class="form-control" type="email" id="example-tel-input" ng-disabled="vm.edit" ng-model="vm.tour.correo">
        </div>
    </div>

    <div class="form-group" ng-show="vm.edit">
        <label for="idCantAsientos">Cantidad de campos</label>
        <input type="number" class="form-control" id="idCantAsientos" ng-disabled="vm.edit" ng-model="vm.tour.cuposDisponibles">
    </div>

    <div class="form-group">
        <label for="example-datetime-local-input" class="col-2 col-form-label">Fecha y Hora de Salida</label>
        <div class="col-10">
            <input class="form-control" type="text" value="2011-08-19T13:45:00" id="example-datetime-local-input" ng-disabled="vm.edit"
                ng-model="vm.tour.fechaHoraSalida">
        </div>
    </div>
    <div class="form-group">
        <label for="example-datetime-local-input" class="col-2 col-form-label">Fechas para cuotas</label>
        <div class="col-6">
            <label for="fechaCuota1">Fecha para primera cuota</label>
            <input class="form-control" type="text" value="2011-08-19T13:45:00" id="fechaCuota1" ng-disabled="vm.edit" ng-model="vm.tour.fechaPrimerPago">
        </div>
        <div class="col-6">
            <label for="fechaCuota2">Fecha para segunda cuota</label>
            <input class="form-control" type="text" value="2011-08-19T13:45:00" id="fechaCuota2" ng-disabled="vm.edit" ng-model="vm.tour.fechaLimite">
        </div>
    </div>
    <div class="form-group">
        <label for="idPrecios">Precios Total($)</label>
        <div class="row">
            <div class="col-md-4">
                <label for="precioNino">Nino</label>
                <input type="number" class="form-control " id="precioNino" placeholder="$" ng-disabled="vm.edit" ng-model="vm.tour.precioNino">

            </div>
            <div class="col-md-4">
                <label for="precioAdultos">Adultos</label>
                <input type="number" class="form-control " id="precioAdultos" placeholder="$" ng-disabled="vm.edit" ng-model="vm.tour.precioAdulto">

            </div>
            <div class="col-md-4">
                <label for="precioAdultosMay">Adultos Mayores(65+)</label>
                <input type="number" class="form-control " id="precioAdultosMay" placeholder="$" ng-disabled="vm.edit" ng-model="vm.tour.precioAdultoM">

            </div>
        </div>

    </div>

    <div class="form-group">
        <label for="idCuentaBancaria">Cuenta Bancaria</label>
        <input type="text" class="form-control" id="idCuentaBancaria" ng-disabled="vm.edit" ng-model="vm.tour.cuentaBancaria">
    </div>

    <div class="form-group">
        <label for="idSalida">Lugar de Salida</label>
        <input type="text" class="form-control" id="idSalida" ng-disabled="vm.edit" ng-model="vm.tour.lugarSalida">
    </div>

    <div class="form-group">
        <label for="idSalidaExtra">Lugar de Salida Extra (opcionales)</label>
        <input type="text" class="form-control" id="idSalidaExtra1" ng-disabled="vm.edit" ng-model="vm.tour.lugarSalida2">
        <input type="text" class="form-control" id="idSalidaExtra2" ng-disabled="vm.edit" ng-model="vm.tour.lugarSalida3">
    </div>
    <div class="form-group">
        <label for="idAlimentos">Alimentos Incluidos</label>

        <ul class="list-group">
                <li class="list-group-item" ng-repeat="x in vm.getServicios" ng-show="vm.edit">
                        <span class="label-text">{{x.servicio}}</span>
                </li>
            </ul>

        <div class="wrapper" id="wrapper" ng-show="!vm.edit">

            <div class="row">
                <div class="col-md-3">
                    <label>
                        <input type="checkbox" name="check" value="Merienda" ng-model="meriendaChecked">
                        <span class="label-text">Meriendas</span>
                    </label>


                </div>
                <div class="col-md-3">
                    <label>
                        <input type="checkbox" name="check" value="Desayuno" ng-model="desayunoChecked" >
                        <span class="label-text">Desayuno</span>
                    </label>


                </div>
                <div class="col-md-3">
                    <label>
                        <input type="checkbox" name="check" value="Almuerzo" ng-model="almuerzoChecked" >
                        <span class="label-text">Almuerzo</span>
                    </label>


                </div>
                <div class="col-md-3">
                    <label>
                        <input type="checkbox" name="check" value="Cena" ng-model="cenaChecked">
                        <span class="label-text">Cena</span>
                    </label>


                </div>

            </div>

        </div>

        <h1 align="left">Informacion Transporte</h1>

        <div class="form-group">
            <label for="idFlotilla">Número de Flotilla</label>
            <input type="text" class="form-control" id="idFlotilla" ng-disabled="vm.edit" ng-show="vm.edit" ng-model="vm.tour.idVehiculo">
            <select class="form-control" id="selectFlotilla" ng-model="vm.selectFlotilla" ng-show="!vm.edit" ng-options="'placa: ' +x.idVehiculo + ' campos: '  + x.campos for x in vm.getVehiculo"></select>
        </div>



</form>

<div class="row grupoBotones">
    <div class="col-sm-offset-1 col-sm-10" align="center">
        <a ng-href="#!/listaTour" type="button" class="btn btn-default btn_back" ng-show="vm.edit">Atras</a>
        <a ng-click="vm.updateTourForm()" type="button" class="btn btn-default btn_upd" ng-show="vm.edit">Modificar Datos</a>
        <a ng-click="vm.cancelUpdate()" type="button" class="btn btn-default btn_cancel" ng-show="vm.btnAcceptCancel">Cancelar</a>
        <a ng-click="vm.acceptUpdate()" type="button" class="btn btn-default btn_acept" ng-show="vm.btnAcceptCancel">Aceptar</a>

    </div>
</div>