<div ng-init="vm.start()">
        
            <div class="col-sm-offset-10 col-sm-2" align="center">
                <a ng-click="addKids()" type="submit" class="btn btn-default" id="btn_add" ng-href="#!/nuevaFlotilla">Agregar Flotilla</a>
            </div>
        
        
        
            <h2 align="center">Lista de Flotillas</h2>
            <div class="list-group-listaInfo" ng-repeat="x in vm.person">
                <a ng-href="#!/formFlotillas" class="list-group-item " id="list_info">
                    <p class="list-group-item-text">Placa: {{x.id}}</p>
                    <p class="list-group-item-text">Marca de Flotilla: {{x.marcaBus}}</p>
                    <p class="list-group-item-text">Chofer: {{x.firstName}} {{x.lastName1}}</p>
                </a>
            </div>
        </div>