<div ng-init="vm.start()">

    <div class="col-sm-offset-10 col-sm-2" align="center">
        <a  type="submit" class="btn btn-default" id="btn_add" ng-href="#!/nuevoSitio">Agregar Destino</a>
    </div>
 


  <h2 align="center">Lista de Sitios Turisticos</h2>
  <div class="list-group-listaInfo" ng-repeat="x in vm.getDestinos">
    <a ng-href="#!/formSitios/{{x.nombreDestino}}" class="list-group-item " id="list_info">
      <p class="list-group-item-text">Nombre: {{x.nombreDestino}}</p>
      <p class="list-group-item-text">Categoria: {{x.categoria}}</p>
    </a>
    <a  ng-click="vm.eliminarSitio(x.nombreDestino)" type="button" class="btn btn-default btn_acept"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
  </div>
</div>