<form role="form" id="form_AddFlotillas" ng-init="vm.start()">
        <h2 align="center">Datos de Buses</h2>
        
        <div class="form-group">
            <label for="idCedChofer">Cedula del Chofer</label>
            <input type="number" class="form-control" id="idCedChofer" ng-model="vm.flotilla.cedChofer">
        </div>

        <div class="form-group">
            <label for="idFlotilla">Número de Flotilla</label>
            <input type="text" class="form-control" id="idFlotilla" ng-model="vm.flotilla.placa">
        </div>
    
        <div class="form-group">
            <label for="selectMarca">Marca del Vehiculo</label>
            <select class="form-control" id="selectMarca" ng-model="vm.flotilla.marca" ng-options="x for x in vm.marcaBus" ></select>
        </div>
        <div class="form-group">
            <label for="selectTipoVehiculo">Tipo de Vehiculo</label>
            <select class="form-control" id="selectTipoVehiculo" ng-model="vm.flotilla.tipoVehiculo" ng-options="x for x in vm.marcaBus" ></select>
        </div>
        <div class="form-group">
            <label for="idCantAsientos">Cantidad de asientos</label>
            <input type="number" class="form-control" id="idCantAsientos" ng-model="vm.flotilla.capacidad">
        </div>
    
        <div class="form-group">
    
            <div class="wrapper" id="wrapper">
    
                <div class="form-check">
                    <label>
                        <input type="checkbox" name="check" ng-model="vm.flotilla.transporteDisp">
                        <span class="label-text">Transporte Disponible</span>
                    </label>
                </div>
    
            </div>
        </div>
    
        <div class="form-group">
            <label for="idFlotilla">Servicios Disponibles</label>
    
            <div class="wrapper" id="wrapper" ng-repeat="x in vm.servicios">
    
                <div class="form-check">
                    <label>
                        <input id="{{$index}}" type="checkbox" name="check" ng-model="vm.flotilla.servicios">
                        <span class="label-text">{{x}}</span>
                    </label>
                </div>
    
            </div>
        </div>
    
    
    
    </form>
    
    <div class="row grupoBotones">
        <div class="col-sm-offset-1 col-sm-10" align="center">
            <a type="button" class="btn btn-default btn_back" ng-href="#!/listaFlotilla">Atras</a>
            <a ng-click="vm.addflotilla()" type="button" class="btn btn-default btn_acept" >Aceptar</a>
    
        </div>
    </div>