<form role="form" id="add_Sitios" ng-init="vm.start()">
    <h2 align="center">Agregar Sitio Turistico</h2>

    <div class="form-group">
        <label for="idNombre">Nombre</label>
        <input type="text" class="form-control" id="idNombre" ng-model="vm.sitio.nombre">
    </div>

    <div class="form-group">
        <label for="idDireccion">Dirrecion del lugar</label>
        <input type="text" class="form-control" id="idDireccion" ng-model="vm.sitio.dir">

    </div>
    <div class="form-group">
        <label for="selectCategoria">Categoria</label>
        <select class="form-control" id="selectCategoria" ng-model="vm.selectCategoria" ng-options="x.categoria for x in vm.getCategoria"></select>
    </div>
    <div class="form-group">
            <label for="comment">Descripcion:</label>
            <textarea class="form-control" rows="5" id="comment" ng-model="vm.sitio.descripcion"></textarea>
          </div>

</form>

<div class="row grupoBotones">
    <div class="col-sm-offset-1 col-sm-10" align="center">
        <a type="button" class="btn btn-default btn_back" ng-href="#!/listaSitios">Atras</a>
        <a ng-click="vm.addSitio()" type="button" class="btn btn-default btn_acept">Aceptar</a>

    </div>
</div>